.venv
MNIST_Classification/data
MNIST_Classification/history_comparison.npz
MNIST_Classification/val_accuracy_comparison.png
LTC_network/data
LTC_network/results
Translation/eng_french.csv
Translation/ltc_translator_best.pt
Translation/__pycache__
Translation/ltc_translator_attention.pt
Translation/ltc_translator_attention_1.pt
LTC_optimization/__pycache__
LTC_optimization/cuda_ode_step/build
LTC_optimization/cuda_ode_step/cuda_ode_step.egg-info